@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  min-width: 1280px;
}

.body-container {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.button {
font-family:inherit;
text-align: center;
text-transform: uppercase;
font-weight: 700;
border: none;
}

/* Header */

.navigation {
  display: flex;
}

.navigation-logo {
  display: block;
  width: 138px;
  height: 64px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

/* Footer */

.footer-container {
  display:flex;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

/* visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wish-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

/* Index-page Hero */

.hero-container {
  width: 1200px;
  height: 485px;
  background-image: url(../images/decor/herobackgroundpattern.svg), url(../images/decor/herobackground.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

.background-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.hero-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  box-sizing: border-box;
  padding: 69px 290px 25px 290px;
  text-transform: uppercase;
  text-align: center;
}

/* Index-page Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-header {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 69px;
  text-align: center;
}

.advantage-item {
  width: 400px;
}

.advantage-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.near-picture {
  background-color: #82B3D3;
  color: #ffffff;
}

.middle-block {
  background-color: rgba(131, 179, 211, 0.2);
}

.corner-block {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Index-page Promo */

.promo-header {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  box-sizing: border-box;
  padding: 64px 347.5px 20px 347.5px;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  color: #333333;
}

.promo-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.promo-item-description {
  font-size: 18px;
  line-height: 21px;
}

.side-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.house {
  background-image: url(../images/promo/accomodation.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.food {
  background-image: url(../images/promo/food.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
}

.souvenirs {
  background-image: url(../images/promo/souvenir.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}

/* Index-page Hotel-search */

.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.search-btn {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  margin-bottom: 96px;
}

/* Index-page Subscribe-index */

.subsc-index {
  background-image: url(../images/decor/subscribe.jpg);
  background-repeat: no-repeat;
  color:#FFFFFF
}

.subscribe {
  width: 1200px;
  height: 414.86px;
  text-align: center;
  box-sizing: border-box;
  padding: 96px 258px 104px;
}

.subsc-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subsc-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subsc-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
}

/* Catalog-page Filter */

.hotel-selection {
  background-image: url(../images/decor/filterbackground.jpg);
  color: #ffffff;
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
}

.hotel-selection-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin:0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-icon {
  background-image: url(../images/decor/breadcrubs1.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-next {
  background-image: url(../images/decor/breadcrubs2.svg);
  background-repeat: no-repeat;
  width: 6.39px;
  height: 9.94px;
}

.breadcrumbs-link {
  text-decoration: none;
}

.filter-container {
  display:flex;
}

.infrastructure {
  display:grid;
}

.filter-accomodation-type {
  display:grid;
}

.filter-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.price-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.submit-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
}

/* Catalog-page Results */

.controls{
  display:flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left:70px;
  margin-right:70px;
  margin-bottom:40px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.card-view-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.card-view-button-grid {
  background-image: url(../images/decor/cardviewgrid.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.card-view-button-textUnder {
  background-image: url(../images/decor/cardviewtextunder.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.card-view-button-list {
  background-image: url(../images/decor/cardviewlist.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;

}

/* Catalog-page Hotel catalog */

.hotels-list {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left:70px;
  margin-right:70px;
  margin-bottom:80px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.detail-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: none;
  width: 140px;
  height: 36px;
}

.favorite-button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
}

.added {
  background-color: #7DB54F;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

/* Catalog-page Pagination */

.pagination {
  display:flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left:70px;
  margin-right:70px;
  margin-bottom:60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
}

.current-background {
  background-color: #F2F2F2;
}

.more-background {
background-color:#FFFFFF;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.pagination-current {
  color: #000000;
}
