
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000;
  background-color: #F2F2F2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  color: #000;
  background-color: #FFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 8px 49px;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
}

.button:active {
color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

/* Header */

.main-header {
  position: relative;
  min-width: 1200px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
  min-height: 64px;
}

.navigation-logo {
  display: block;
  height: 64px;
  width: 140px;
}

.logo-img {
  display:block;
  width: 140px;
  height: 70px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 339px;
  max-width: 438px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 27px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  min-height: 64px;
  min-width:268px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left:auto;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-link {
  position:relative;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #000;
}

.navigation-link-icon {
  position: relative;
  display: block;
  width: 44px;
  height: 64px;
  padding: 20px 12px;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: #f2f2f2;
}

.navigation-link-favourite:hover,
.navigation-link-favourite:focus {
  background-color: #f2f2f2;
}

.navigation-link-search:hover,
.navigation-link-search:focus {
  background-color: #f2f2f2;
}

.navigation-link:active,
.navigation-link-favourite:active,
.navigation-link-search:active {
  opacity: 0.3;
}

.current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.catalog-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.navigation-item-button {
  position: relative;
  width: 44px;
  height: 64px;
}

.favourite-hotels {
  position: absolute;
  left: 20px;
  top: 11px;
  min-width: 20px;
  max-width: 50px;
  min-height: 20px;
  max-height: 50px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFF;
  background-color: #7db54f;
  border-radius: 10px;
  overflow: hidden;
}

.wish-button {
  width:160px;
  margin-left: 20px;
  padding:8px 34px;
  font-size: 16px;
  line-height: 21px;
  color: #FFF;
  background-color: #756157;
  align-self: center;
}

.wish-button:hover,
.wish-button:focus {
  background-color: #615048;
}

.wish-button:active {
  background-color: #756157;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: start;
  padding: 40px 70px 30px;
}

.social {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  display: grid;
  grid-template-columns: repeat(3, 47px);
}

.social-link {
  width: 47px;
  height: 40px;
  padding: 23px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: #68A2CA;
}

.footer-social-icon:active {
  fill: #68A2CA;
  opacity: 0.3;
}

.contact-phone {
  margin-left: 25px;
}

.phone {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  background-color: #FFF;
  text-transform: uppercase;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
color: rgba(117, 97, 87, 0.3);
}

.devlogo-container {
  min-width: 115px;
  margin-left: auto;
}

.devlogo {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
}

.devlogo-svg {
  fill: #000;
}

.devlogo-svg:hover,
.devlogo-svg:focus {
  fill: #756157;
}

.devlogo-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Index-page Hero */

.hero {
  background-image: url("../images/decor/index/herobackgroundpattern.svg"), url("../images/decor/index/herobackground.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top left;
  background-size: 100% auto, cover;
  background-clip: border-box;
  background-color: #82B3D3;
  padding: 51px 70px 82px;
  color: #FFF;
}

.background-img {
  display: block;
  width: 458px;
  margin-left: auto;
  margin-right: auto;
}

/* Index-page Advantages */

.advantages-header-container {
  padding: 69px 70px;
  margin-bottom: 21px;
}

.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.advantages-header-title span {
  display: block;
}

.advantages-header-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #333;
  margin: 0;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantage-item-middle {
  padding: 112px 85px;
}

.advantage-item-header {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-item-header::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 27px auto 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item-near-picture {
  background-color: #82B3D3;
  color: #FFF;
  grid-column: span 3;
  display: flex;
}

.img-container-reverse {
  order: -1;
}

.header-underline::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage-corner-block:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-middle-block:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-image {
  display:block;
  width: 800px;
  height: 100%;
  object-fit: contain;
}

/* Index-page Promo */

.promo-header-container {
  padding: 64px 70px;
  text-align: center;
}

.promo-header {
  width: 505px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.promo-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
}

.promo-item {
  padding: 81px 85px;
  width: 400px;
}

.promo-item-header {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.promo-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

.side-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.house-img::before {
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/promo/accomodation.svg");
  background-repeat: no-repeat;
}

.food-img::before {
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/promo/food.svg");
  background-repeat: no-repeat;
}

.souvenirs-img::before {
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  margin:0 auto;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/promo/souvenir.svg");
  background-repeat: no-repeat;
}

/* Index-page Hotel-search */

.hotel-search {
  padding: 96px 70px;
  text-align: center;
}

.hotel-search-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-description span {
  display: block;
}

.search-button {
  max-width:376px;
  font-size: 20px;
  line-height: 36px;
  color: #FFF;
  background-color: #756157;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
}

/* Index-page Subscribe-index */

.subsc-index {
  background-image: url("../images/decor/index/subscribe.jpg");
  background-repeat: no-repeat;
  color: #FFF;
  background-color: #82B3D3;
  background-size: cover;
}

.subscribe {
  text-align: center;
  padding: 94px 70px 104px;
}

.subsc-header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.subsc-description {
  width:475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 452px;
  margin-left: auto;
  margin-right: auto;
}

.subsc-button {
  min-width:232px;
  max-width: 100%;
  font-size: 20px;
  line-height: 36px;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.subsc-button:hover,
.subsc-button:focus {
  background-color: #68A2CA;
}

.subsc-button:active {
background-color: #82B3D3;
}

.text-input-field {
  min-height: 52px;
  min-width: 452px;
  max-width:100%;
  padding: 12px 20px;
  border: 0;
  font-family: inherit;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

/* Catalog-page Breadcrumsb */

.hotel-selection {
  min-width: 1200px;
  min-height: 412px;
  padding: 35px 70px 70px;
  color: #FFF;
  background-image: url("../images/decor/catalog/filterbackground.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
}

.hotel-selection-header {
  margin: 0;
  margin-bottom: 6px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 18px;
  padding-right: 7px;
}

.breadcrumbs-link-home {
  display: block;
  width: 15px;
  height: 15px;
  padding: 3px 0;
  background-image: url("../images/decor/catalog/breadcrubs1.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 6px;
  height: 9px;
  background-image: url("../images/decor/catalog/breadcrubs2.svg");
  background-size: 7px 10px;
}

/* Catalog-page Filter */

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: grid;
  align-content: flex-start;
  width:150px;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.filter:last-child {
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 54px;
}

.filter-header {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight:700;
  text-transform: capitalize;
}

.filter-item {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-item:hover {
  opacity: 0.6;
}

.input-checkbox[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  background-color: #FFF;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  flex-shrink: 0;
}

.input-checkbox[type="checkbox"]:checked {
  background-image: url("../images/decor/catalog/tick.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center center;
}

.input-checkbox:focus,
.input-radio:focus {
  outline: 3px solid #83B3D3;
}

.input-checkbox:disabled,
.input-radio:disabled {
color: rgba(0, 0, 0, 0.3);
}

.input-checkbox:focus-visible,
.input-radio:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.input-radio[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  background-color: #FFF;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  flex-shrink: 0;
}

.input-radio[type="radio"]:checked {
  background-image: url("../images/decor/catalog/radio.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center center;
}

.range-container {
  display: block;
}

.filter-price {
  margin-left:auto;
  width:288px;
  gap: 15px;
}

.filter-price-container {
  display: flex;
  margin-bottom: 28px;
}

.placeholder {
  position: absolute;
  right: 22px;
  top: 14%;
  transform: translateY(20%);
  color: black;
  opacity: 0.3;
}

.price-value {
  height: 48px;
  width: 143px;
  margin-right: 2px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  flex-shrink: 0;
}

.price-value-from {
  border-radius: 4px 0 0 4px;
}

.price-value-from:focus {
  outline: 0;
  border-radius: 4px 0 0 4px;
  border: 3px solid #83B3D3;
}

.price-value-to {
  border-radius: 0 4px 4px 0;
}

.price-value-to:focus {
  outline: 0;
  border-radius: 0 4px 4px 0;
  border: 3px solid #83B3D3;
}

.price-value-from:disabled,
.price-value-to:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 0;
  width: 226px;
  height: 4px;
  background-color: #FFF;
}

.toggler {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 2px solid #FFF;
  border-radius: 20%;
  cursor: pointer;
}

.toggler:focus {
  outline: 3px solid #83B3D3;
}

.toggler:active {
  outline: 2px solid #83B3D3;
}

.toggler-min {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggler-max {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.filter-buttons {
  display: grid;
  width: 191px;
}

.submit-button {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #82B3D3;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #68A2CA;
}

.submit-button:active {
  background-color: #82B3D3;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: transparent;
}

.reset-button:hover {
  opacity: 0.3;
  outline:none;
}

.reset-button:focus {
  color: #FFF;
  outline: 3px solid #83B3D3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.reset-button:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

/* Catalog-page Results */
.results {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}

.controls {
  width: 1060px;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.search-result {
  width: 338px;
  margin: 0;
  margin-right:200px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/decor//catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  outline:none;
  font-family: inherit;
  color: #333;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-view-buttons {
  width:160px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  font-family: inherit;
}

.card-view-item {
  margin-right: 8px;
}

.card-view-item:last-child {
  margin-right: 0;
}

.card-view-button {
  display: inline-block;
  padding: 12px 14px;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.card-view-button:hover,
.card-view-button:active {
  border: 2px solid #000;
  border-radius: 4px;
}

.card-view-button:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.grid {
  background-image: url("../images/decor/catalog/cardviewgrid.svg");
}

.textunder {
  background-image: url("../images/decor/catalog/cardviewtextunder.svg");
}

.list {
  background-image: url("../images/decor/catalog/cardviewlist.svg");
}

/* Catalog-page Hotel catalog */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap:18px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom:40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-list-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: flex-start;
  align-content: flex-start;
}

.hotel-link {
  display: block;
  width: 300px;
  height: 212px;
  grid-column: span 2;
  background-color: #82B3D3;
}

.hotel-link:hover {
  opacity:0.8;
}

.hotel-link:active {
  opacity:0.6;
}

.hotel-link:active {
  opacity:0.4;
}

.hotel-img {
  display:block;
  width: 300px;
  height: 212px;
  object-fit: contain;
}

.hotel-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: span 2;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-price-value {
  margin-left:auto;
}

.detail-button {
  width: 140px;
  padding: 8px 26px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #756157;
  border: none;
}

.detail-button:hover,
.detail-button:focus {
  background-color: #615048;
}

.detail-button:active {
   background-color: #756157;
}

.favorite-button {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #82B3D3;
  padding: 8px 18px;
}

.favorite-button:hover,
.favorite-button:focus {
  background-color: #68A2CA;
}

.favorite-button:active {
  background-color: #82B3D3;
}

.added {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.added:hover,
.added:focus {
  background-color: #6C9E42;
}

.added:active {
  background-color: #7DB54F;
}

.hotel-stars {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hotel-stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/decor/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: center;
  background-size: contain;
}

.four-hotel-stars {
  width: 87px;
}

.three-hotel-stars {
  width: 66px;
}

.two-hotel-stars {
  width: 42px;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

/* Catalog-page Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;
}

.pagination-item {
  min-width: 60px;
  height:60px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 2px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height:60px;
  padding: 12px 19px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-more {
  color: #000;
  background-color: #FFF;
}

.pagination-link-background:focus,
.pagination-link-background:hover,
.pagination-link-background:active {
  background-color: #F2F2F2;
}

.pagination-link-more-background:focus,
.pagination-link-more-background:hover,
.pagination-link-more-background:active {
  background-color: #FFF;
}

/* Index-page Modal-window */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  overflow: auto;
}

.modal-window {
  position: relative;
  width: 717px;
  min-height: 576px;
  margin: auto;
  padding: 65px 70px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.modal-header {
  margin: 0;
  margin-bottom: 65px;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000;
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  padding: 16px;
  background-color: #F2F2F2;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  border: none;
  background-image: url("../images/decor/modal/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.modal-close-button:active {
  opacity: 0.3;
}

.checkin-title,
.checkout-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000;
}

.check-in-row,
.check-out-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkin-title {
  width: 113px;
  margin-right: 24px;
}

.checkout-title {
  width: 119px;
  margin-right: 18px;
}

.check-in-date,
.check-out-date {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 440px;
  padding: 12px 50px 12px 20px;
  border-radius: 4px;
  background-color: #F2F2F2;
  background-image: url("../images/decor/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
}

.check-in-date:hover,
.check-out-date:hover {
  background-color: #E6E6E6;
}

.check-in-date:focus,
.check-out-date:focus {
  border: none;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
  background-color: #E6E6E6;
}

.check-in-error {
  margin-left: 157px;
  margin-top: 4px;
  color: #FF5757;
  font-size: 16px;
  line-height: 21px;
}

.check-out-text {
  margin-left: 157px;
  margin-top: 4px;
  color: #333;
  font-size: 16px;
  line-height: 21px;
}

.counters-container {
  display: flex;
  flex-wrap: wrap;
  width: 577px;
  margin-bottom: 25px;
}

.adult-count-container,
.child-count-container {
  display: flex;
  align-items: center;
}

.adult-count-container {
  width:247px;
}

.child-count-container {
  width: 242px;
}

.people-count {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000;
}

.adult {
  margin-right: 46px;
  width: 91px;
}

.child {
  padding-right: 10px;
  margin-right: 72px;
}

.persons-number {
  width: 31px;
  height: 48px;
  padding: 14px 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  text-align: center;
}

.count-plus {
  margin-right: 87px;
  border-radius: 0 4px 4px 0;
}

.count-plus-right {
  margin-right:0;
}

.count-minus {
  border-radius: 4px 0 0 4px;
}

.count-minus,
.count-plus {
  width: 40px;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  border: none;
  background-color: #F2F2F2;
  outline: none;
}

.minus-image,
.plus-image {
  opacity: 0.3;
}

.count-minus:hover .minus-image,
.count-plus:hover .plus-image {
  opacity: 1;
  fill: black;
}

.count-plus:focus .plus-image,
.count-minus:focus .minus-image {
  opacity: 1;
  fill: black;
  outline: 3px solid #83B3D3;
  outline-offset: 2px;
  border-radius: 4px;
}

.count-plus:active .plus-image,
.count-minus:active .minus-image {
  opacity: 0.3;
  outline: none;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  position: absolute;
  top: -13px;
  left: -71px;
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../images/decor/modal/info.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  cursor: pointer;
}

.tooltip-toggle:focus {
  border: none;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.tooltip-text {
  position: absolute;
  top: 29px;
  right: -71px;
  z-index: 1;
  display: none;
  width: 256px;
  padding: 15px 18px 20px 22px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
}

.tooltip-text::before {
  content: "";
  display: block;
  height: 9px;
  width: 19px;
  background-image: url("../images/decor/modal/triangle.svg");
  background-repeat: no-repeat;
  transform: translate(95px, -24px);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-search-button {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: inherit;
  width: 100%;
  color: #FFF;
  padding: 18px 77px;
  border: none;
  border-radius: 10px;
  background-color: #83B3D3;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background-color: #68A2CA;
}

.modal-search-button:active {
  background-color: #68A2CA;
  color:rgba(255, 255, 255, 0.3);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
