@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  min-width: 1280px;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-container {
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  min-height: 52px;
  appearance: none;
}

/* Header */
.main-header {
  position: relative;
}

.navigation {
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  min-width: 1200px;
}

.navigation-logo {
  display: block;
  height: 64px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
}

.nav-buttons {
  margin-left: auto;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  background: #756257;
  left: 254px;
  right: 878px;
  bottom: -1px;
  height: 2px;
}

.catalog-current::after {
  content: '';
  display: inline-block;
  position: absolute;
  background: #756257;
  left: 468px;
  right: 639px;
  bottom: -1px;
  height: 2px;
}

.navigation-item-button {
  padding: 20px 12px;
}

.wish-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  margin-left: 20px;
  min-height: 36px;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 120px 1fr 115px;
  padding: 40px 70px 30px 70px;
  align-items: center;
  justify-items: center;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 40px);
}

.social-item {
  min-width: 47px;
  min-height: 40px;
  text-align: center;
}

.social-item a {
  display: block;
  padding: 11px 12px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.devlogo-container {
  margin-left: auto;
}

/* visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Index-page Hero */

.hero {
  background-image: url(../images/decor/herobackgroundpattern.svg), url(../images/decor/herobackground.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top left;
  background-size: 100% auto;
  background-clip: border-box;
  background-color: #82B3D3;
  padding: 51px 70px 82px 70px;
}

.background-img {
  display: block;
  width: 485px;
  margin-left: auto;
  margin-right: auto;
}

/* Index-page Advantages */

.advantages-header-container {
  padding: 69px 70px;
}

.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.advantages-header-title span {
  display: block;
}

.advantages-header-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
}

.advantage-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 62px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.advantage-item-near-picture {
  background-color: #82B3D3;
  color: #ffffff;
  grid-column: span 3;
  display: flex;
}

.reverse {
  order: -1;
}

.middle-block {
  background-color: rgba(131, 179, 211, 0.2);
}

.corner-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantave-item {
  display: block;
}

.advantage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Index-page Promo */

.promo-header-container {
  padding: 64px 70px;
  text-align: center;
}

.promo-header {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.promo-header span {
  display: block;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #333333;
}

.promo-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
}

.promo-item {
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.promo-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.promo-item-description {
  font-size: 18px;
  line-height: 21px;
}

.side-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.promo-icon {
  width: 75px;
  height: 72px;
  display: inline-block;
  text-align: center;
}

.house-img {
  background-image: url(../images/promo/accomodation.svg);
  background-repeat: no-repeat;
}

.food-img {
  background-image: url(../images/promo/food.svg);
  background-repeat: no-repeat;
}

.souvenirs-img {
  background-image: url(../images/promo/souvenir.svg);
  background-repeat: no-repeat;
}

/* Index-page Hotel-search */

.hotel-search {
  padding: 96px 70px;
  text-align: center;
}

.hotel-search-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-description span {
  display: block;
}

.search-btn {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
}

/* Index-page Subscribe-index */

.subsc-index {
  background-image: url(../images/decor/subscribe.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-size: cover;
}

.subscribe {
  text-align: center;
  padding: 96px 70px 104px 70px;
}

.subsc-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subsc-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  width: 760px;
  margin: auto;
}

.subsc-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
}

.text-input-field {
  min-height: 52px;
  min-width: 452px;
  padding: 12px 20px;
  border: 0;
  font-family: inherit;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
}

/* Catalog-page Breadcrumsb */

.hotel-selection {
  background-image: url(../images/decor/filterbackground.jpg);
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
  width: 1200px;
  height: 412px;
  margin-bottom: 40px;
  padding: 35px 70px 70px;
}

.hotel-selection-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .home-icon {
  background-image: url(../images/decor/breadcrubs1.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-next {
  background-image: url(../images/decor/breadcrubs2.svg);
  background-repeat: no-repeat;
  width: 6.39px;
  height: 9.94px;
}

.breadcrumbs-link {
  text-decoration: none;
  display: flex;
  gap: 10px
} */

/* Catalog-page Filter */

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: grid;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-right: 70px;
}

.filter:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.filter-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-price {
  display: flex;
  margin-left: 70px;
}

.filter-list-item {
  margin-bottom: 16px;
}

.filter-list-item:last-child {
  margin-bottom: 0;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-item-price {
  position: relative;
}

.placeholder {
  position: absolute;
  right: 10px;
  top: 13%;
  transform: translateY(20%);
  color: black;
  opacity: 0.3;
}

.price-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  width: 143px;
  padding: 12px 30px;
  border: 4px solid #F2F2F2;
  background-color: #F2F2F2;
  margin-right: 2px;
  font-family: inherit;
}

.price-value-from {
  border-radius: 4px 0px 0px 4px;
}

.price-value-to {
  border-radius: 0px 4px 4px 0px;
}

.filter-buttons {
  display: grid;
  align-content: end;
}

.submit-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  margin-bottom: 32px;
  min-height: 36px;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  min-height: 36px;
}

/* Catalog-page Results */

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 20px;
}

.card-view-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.card-view-item {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  margin-left: 8px;
}

.card-view-item:first-child {
  border: 2px solid #000000;
  margin-left: 0;
}

.card-view-button {
  padding: 12px 14px;
  min-width: 48px;
  min-height: 48px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.grid {
  background-image: url(../images/decor/cardviewgrid.svg);
}

.textUnder {
  background-image: url(../images/decor/cardviewtextunder.svg);
}

.list {
  background-image: url(../images/decor/cardviewlist.svg);
}

/* Catalog-page Hotel catalog */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.hotel-link {
  display: block;
  min-width: 300px;
  min-height: 212px;
}

.hotel-list-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.detail-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: none;
  width: 140px;
  min-height: 36px;
  padding: 8px 26px;
  margin-right: 20px;
}

.favorite-button {
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 18px;
}

.added {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

/* Catalog-page Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 60px;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.current-background {
  background-color: #F2F2F2;
}

.more-background {
  background-color: #FFFFFF;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  padding: 11px 19px 13px 19px;
  display: block;
  text-align: center;
}

.pagination-current {
  color: #000000;
}
